.node {
    touch-action: none;
    height: 25px;
    width: 25px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 1px solid black;
    background-color: #dff6ff;
    box-shadow: 0 0 2px black;
    font-weight: bold;
}

.blank {
    border: 1px solid black;
}

.wall {
    background-color: #06283d;
    animation: wall-in 1s ease;
}

.start {
    background-color: #256d85;
    border-radius: 50%;
    color: white;
}

.end {
    background-color: rgb(38, 0, 82);
    border-radius: 50%;
    color: white;
}

.search {
    animation: search-in 1s ease forwards;
}

.shortest {
    background: coral;
    animation: shortest-search-in 1.5s ease forwards;
}

@keyframes wall-in {
    0% {
        background-color: violet;
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes wall-in {
    0% {
        background-color: violet;
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes search-in {
    0% {
        background-color: violet;
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
        background-color: coral;
    }
}

@-webkit-keyframes search-in {
    0% {
        background-color: violet;
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
        background-color: coral;
    }
}

@keyframes shortest-search-in {
    0% {
        background: coral;
    }

    20% {
        transform: scale(0.7);
        border-radius: 50%;
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.95);
        border-radius: 50%;
        background: linear-gradient(90deg, #47b5ff, violet);
    }
}

@-webkit-keyframes shortest-search-in {
    0% {
        background: coral;
    }

    20% {
        transform: scale(0.7);
        border-radius: 50%;
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.95);
        border-radius: 50%;
        background: linear-gradient(90deg, #47b5ff, violet);
    }
}

@media (max-width: 800px) {
    .node {
        height: 20px;
        width: 20px;
    }

    .wall {
        animation: none;
    }
}
