.maze-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    user-select: none;
    background-color: #e4e4e4;
    border-radius: 8px;
    padding: 1rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.maze-row {
    display: flex;
    gap: 0.2rem;
}
